:root {
  --normal-font-weight: 400;
  --heading-font-weight: 700;
  --bg-color: #f0f8ff;
  --homefont-color: #add8e6;
  --framefont-color: #00008b;
  --anchor-normal: #ffb6c1;
  --anchor-visited: #ffb6c1;
  --anchor-hover: #fff;
  --anchor-active: #ffc0cb;
  --btn-bgcolor: #006988;
  --btn-fontcolor: #fff;
  --frame-bgcolor: #f8f8ff;
  --radius: 3px;
  --frame-maxwidth: 700px;
}

/* universal selector */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: var(--normal-font-weight);
  font-size: 16px;
  line-height: 1.6;
  background-image: url("../img/design1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--homefont-color);
}

h1 {
  font-weight: var(--heading-font-weight);
  font-size: 26px;
  padding: 5px;
}

h2 {
  font-weight: var(--heading-font-weight);
  font-size: 24px;
}

p {
  margin: 0.5em;
}

section > h1 {
  text-align: center;
}

a {
  color: var(--anchor-normal);
  padding-left: 5px;
}

a:visited {
  color: var(--anchor-visited);
}

a:hover,
a:focus {
  text-decoration: none;
  transition: background-color 0.25s ease-out;
  background-color: var(--anchor-hover);
}

a:active {
  color: var(--anchor-active);
}

.page-header {
  display: flex;
  width: 100%;
  padding: 5px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  height: 50px;
  width: 100%;
  background-image: url("../img/unna.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Home page content */
.profile {
  max-width: var(--frame-maxwidth);
  margin: 0 auto; /* to center horizontally */
}

/* bring the profile picture to left */
.profile__portrait {
  float: left;
  margin-right: 40px;
  width: 200px;
  height: 250px;
  border-radius: 50%;
  padding: 10px;
}

.profile span {
  font-weight: bold;
}

/* Work page content - Projectlist */

/* for browsers that doesnot support Grid format */
.projects-list__item {
  display: inline-block;
  width: 33%;
  color: var(--framefont-color);
}

.projects-list__item a {
  font-weight: bold;
}

/* end of Grid format check */

@supports (display: grid) {
  .projects-list {
    display: grid;

    /* grid-template: repeat(2, 300px) / repeat(3, 300px); to split into 2 rows and 3 columns */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 10px;
  }

  .projects-list__item {
    background-color: var(--frame-bgcolor);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .projects-list__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

/* check for different screen-sizes using media queries */
@media all and (max-width: 500px) {
  .profile__portrait {
    float: none;
  }

  .projects-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .projects-list {
    grid-gap: 10px;
  }

  .projects-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/* About me page content */

/* Not in use.
.aboutme {
  height: 450px;
} */

/* To display Download my CV button in center */

.aboutme__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dresden {
  height: 300px;
  width: 100%;
  padding: 10px;
}

.dresden__picline {
  animation-name: fadeIn, spin;
  animation-duration: 3s, 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-delay: 2s;
}

.dresden__flag {
  animation: 3s slidein_flag infinite linear;
}

/* add animation to Dresden picture */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes slidein_flag {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(600px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0);
  }
}

/* contact form */
.contactform__wrapper {
  max-width: var(--frame-maxwidth);
  background-color: var(--frame-bgcolor);
  margin: 0 auto; /* to place the wrapper in center */
  border-radius: var(--radius);
}

.contactform__wrapper__items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em;
}

.contactform__wrapper__items > label {
  flex: 1;
  color: var(--framefont-color);
}

.contactform__wrapper__items > input {
  flex: 2;
}

.submit_button {
  max-width: fit-content;
}

button,
.download_button,
.submit_button {
  font-family: inherit;
  display: inline-block;
  border: none;
  background-color: var(--btn-bgcolor);
  text-decoration: none;
  color: var(--btn-fontcolor) !important;
  padding: 5px;
  border-radius: var(--radius);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.8s opacity;
}

button:hover,
button:focus,
.download_button:hover,
.download_button:focus,
.submit_button:hover,
.submit_button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* clear the float setting and bring the footer down and align it in center */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
